<p class="title-section">{{data.structure.title}}</p>
<div class="container-news-first">
    <div class="tabs-video tv-active" id="tabs-video-dest" onclick="selectCategory(this.id);">
        Destacados
    </div>
    <div class="tabs-video" id="tabs-video-pol" onclick="selectCategory(this.id);">
        Política
    </div>
    <div class="tabs-video" id="tabs-video-mun"onclick="selectCategory(this.id);">
        Mundo
    </div>     
    <div class="tabs-video" id="tabs-video-economía"onclick="selectCategory(this.id);">
        Economía
    </div>    
      <div class="tabs-video" id="tabs-video-entretenimiento"onclick="selectCategory(this.id);">
        Entretenimiento
    </div> 
</div>
<div id="container-article" class="animate__animated">
    <div class="container-news main-news">
        <a href="https://www.google.com/" class="cont-main-news">
            <img
            src="https://tvazteca.brightspotcdn.com/0c/c8/6966d2264df8b17ece2011ec2429/former-brazilian-football-player-gilberto-silva-holds-the-world-cup-picture-id1240709089.jpeg"
            class="img-news" href="www.google.com">
            <div class="text-bottom">¡La Copa del Mundo en México! Te decimos cuándo y dónde podrás visitarla.</div>  
        </a>
    </div>
    <div class="container-news main-news">
        <a href="https://www.google.com/" class="cont-main-news">
            <img
            src=""
            class="img-news" href="www.google.com">  
        </a>
    </div>
    <div class="container-news main-news">
        <a href="https://www.google.com/" class="cont-main-news">
            <div class="conteiner-seconds">
            
                <span class="text-cat">Destacadas</span>
                <span class="text-desc">Fiestas patrias: ¿Quieres comer pozole este año? Prepararlo te saldrá más caro 🍲.</span>
                <span class="text-date">&#x23F1; 14 Septiembre, 2022</span>
            </div>
            <img
            src="https://tvazteca.brightspotcdn.com/8e/24/8c9047614a6d9373149bd94ede00/pozole1.JPG"
            class="img-news-seconds" href="www.google.com">  
        </a>
    </div>
    <div class="container-news main-news">
        <a href="https://www.google.com/" class="cont-main-news">
            <div class="conteiner-seconds">
            
                <span class="text-cat">Destacadas</span>
                <span class="text-desc">Ya llegaron los restos de la reina Isabel II, fallecida el 8 de septiembre, al Palacio de Westminster Hall luego del traslado del féretro desde Buckingham.</span>
                <span class="text-date">&#x23F1; 14 Septiembre, 2022</span>
            </div>
            <img
            src="https://tvazteca.brightspotcdn.com/95/3a/f6b440e340fc9fa9839025137934/reina-isabel-traslado-feretro.JPG"
            class="img-news-seconds" href="www.google.com">  
        </a>
    </div>
    <div class="container-news main-news">
        <a href="https://www.google.com/" class="cont-main-news">
            <div class="conteiner-seconds">
            
                <span class="text-cat">Destacadas</span>
                <span class="text-desc">Desmantelan red de tráfico de personas; llevaban gente en cajas de cartón.</span>
                <span class="text-date">&#x23F1; 14 Septiembre, 2022</span>
            </div>
            <img
            src="https://tvazteca.brightspotcdn.com/1d/97/4a2f9b4e45e09d8d82dbf97959e6/migrantes.jpg"
            class="img-news-seconds" href="www.google.com">  
        </a>
    </div>
    <a href="https://www.google.com/"><div class="button-morenews">
        Ver más noticias
    </div></a> 
</div>