<h1>{{data.structure.title}}</h1>
<center>
  <img
    src="https://image.winudf.com/v2/image1/Y29tLmNuaS5iYWNrcGlua19zY3JlZW5fMF8xNjAwNzc1ODQzXzAzMQ/screen-0.jpg?h=500&fakeurl=1&type=.jpg"
    alt="BLACKPINK" width="65%"/>
</center>
