<h2>{{data.structure.title}}</h2>
<div class="container-icon">
  {{#each data.content.shortcuts}}
    <a class="icon-m1" href="app:shortcuts/{{this.slug}}">
      <img src="{{imageUrl}}" class="img-icon-m1" href="app:shortcuts/{{this.slug}}" />
    </a>
  {{/each}}
</div>
