<p class="title-section">{{data.structure.title}}</p>
<div class="container-video">
    <a href="https://www.google.com/" class="icon-video">
        <img 
        src="https://tvazteca.brightspotcdn.com/dims4/default/f95df84/2147483647/thumbnail/120x151/quality/90/?url=http%3A%2F%2Ftv-azteca-brightspot.s3.amazonaws.com%2F0a%2Fc0%2Fddd1a7c7485ab559c7219f0612f9%2Fnew-slider-rocio.png"
        class="img-video" href="www.google.com">  
        <span class="text-video">A quíen corresponda</span>
        <span class="desc-video">Opinión</span>
  </a>
  <a href="https://www.google.com/" class="icon-video">
        <img
        src="https://tvazteca.brightspotcdn.com/dims4/default/17a6114/2147483647/thumbnail/120x151/quality/90/?url=http%3A%2F%2Ftv-azteca-brightspot.s3.amazonaws.com%2Fa1%2Ff0%2F594a16bd4571ab892ff944a0e8bf%2Fnew-slider-callamos-mujeres.png"
        class="img-video" href="www.google.com">
        <span class="text-video">Lo que callamos las mujeres</span>
        <span class="desc-video">Serie</span>
  </a>
  <a href="https://www.google.com/" class="icon-video">
        <img
        src="https://tvazteca.brightspotcdn.com/dims4/default/6be75a5/2147483647/thumbnail/120x151/quality/90/?url=http%3A%2F%2Ftv-azteca-brightspot.s3.amazonaws.com%2F20%2F96%2Fa5e0d3f249ab85b69957c6340205%2Fenfermeras-vod.png"
        class="img-video" href="www.google.com">
    
        <span class="text-video">Todos a bailar</span>
        <span class="desc-video">Reality show</span>
  </a>
  <a href="https://www.google.com/" class="icon-video">
        <img
        src="https://tvazteca.brightspotcdn.com/dims4/default/e673adc/2147483647/thumbnail/120x151/quality/90/?url=http%3A%2F%2Ftv-azteca-brightspot.s3.amazonaws.com%2Fc1%2Fff%2F01171ef440b2a448beb803c4f267%2Fnew-slider-abundancia.png"
        class="img-video" href="www.google.com">
        <span class="text-video">Edición all star</span>
        <span class="desc-video">Reality show</span>
  </a>
  <a href="https://www.google.com/" class="icon-video">
        <img
        src="https://tvazteca.brightspotcdn.com/dims4/default/4f46f21/2147483647/thumbnail/120x151/quality/90/?url=http%3A%2F%2Ftv-azteca-brightspot.s3.amazonaws.com%2F82%2F9a%2F815cd2aa43cfaffc8f82157155f8%2Fnew-slider-cine.png"
        class="img-video" href="www.google.com">
        <span class="text-video">Rutas de la vida con juan</span>
        <span class="desc-video">Entretenimiento</span>
  </a>
  <div class="icon-video">    
        <a href="https://www.google.com/" id="see-more-video">
            <span class="see-all" id="more-symbol"> + </span>
            <span class="see-all"> Ver todos </span>
        </a> 
  </div>           
</div>