body {
  background: #f6f6f6;
  font-family: "Poppins", sans-serif;
  margin: 0;
  max-width: 100vw;
  padding: 0;
}

.module {
  margin: 40px 10px;
  padding: 0;
}

.title-section{
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

a{
  text-decoration: none;
}

.hidden {
  display: none;
}

.center-button{
  background: #242d42;
  color: white;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 50px auto;
  width: 180px;
  border-radius: 25px;
  font-size: 14px;
  letter-spacing: -0.5px;
}
