<div id="slider-container-player-{{transmission.videos.id}}" class="slider-container player hidden" data-slider-index="{{sliderIndex}}">
  <div id="mdstrm-player-{{transmission.videos.id}}"></div>
</div>
